<div class="login-wrap">
	<div class="login-form">
		<h1 class="title text-center">GamingFrog</h1>
    <span class="text-center">Sign In</span>
    <form *ngIf="!user" id="signin" role="form" class="form-signin">

          <input type="text" class="form-control" name='username' placeholder="Username" [(ngModel)]="loginInfo.username" id="the-username-input">

          <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="loginInfo.password" id="the-password-input">


          <button class="btn btn-block bt-login" (click)="login()">Login</button>
    </form>
		<div class="form-footer">
			<div class="row">
				<div class="col-xs-7 col-sm-7 col-md-7">
					<i class="fa fa-long-arrow-left"></i>
					<a href="/"> back home </a>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5">
					<i class="fa fa-check"></i> <a href="/sign-up"> Sign Up </a>
				</div>
			</div>
		</div>
	</div>
</div>
