.navbar {
  display: none;
}

body{
	background: url('../../assets/img/banner3x.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  background-color: #000;
  height: 100%!important;
  width: 100%!important;
  overflow: hidden;
}
h1{
  color: #36CE92;
}

p{
	color:#fff;
}

.login-form {
   background-color: rgba(0, 0, 0, 0.5);
   width:380px;
   margin: 10% auto;
   padding: 20px;
}


.form-footer {
	padding: 15px 40px;
}
.bt-login{
	background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}
.form-signin .form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus{
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
i{margin-right: 4%;color:#36CE92}
a{text-decoration: none;color:#36CE92;}
