<div class="login-wrap">
	<div class="login-form">
		<h1 class="title text-center">GamingFrog</h1>
    <span class="text-center">Sign In</span>
		<form id="login-form" method="post" class="form-signin" role="form">
			<input name="email" id="email" type="email" class="form-control"placeholder="Email address" autofocus>
			<input name="password" id="password" type="password" class="form-control disable" placeholder="Password">
			<button class="btn btn-block bt-login" type="submit">Sign In</button>
		</form>
		<div class="form-footer">
			<div class="row">
				<div class="col-xs-7 col-sm-7 col-md-7">
					<i class="fa fa-lock"></i>
					<a href="#"> Forgot password? </a>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5">
					<i class="fa fa-check"></i> <a href="#"> Sign Up </a>
				</div>
			</div>
		</div>
	</div>
</div>
