<div class="row sub-dash">
    <div class="col-sm-5">
      <a href="#">
        Buy Funds
      </a>
    </div>
    <div class="col-sm-5">
      <a href="#" class="active">
        Payment Methods
      </a>
    </div>
</div>
<div class="row billing-wrap">
  <h3>Your Payment Methods</h3><hr>
  <div class="payment-method">Paypal Account: *****doe@gmail.com</div>
  <h3>Add Funds</h3><hr>
  <div class="col-sm-4">
    <img src="../../assets/img/5_dollars.png">
    add $5
  </div>
  <div class="col-sm-4">
    <img src="../../assets/img/15_dollars.png">
    add $15
  </div>
  <div class="col-sm-4">
    <img src="../../assets/img/50_dollars.png">
    add $50
  </div>
</div>
