<div class="row sub-dash">
    <div class="col-sm-3">
      <a [routerLink]="['/app/matches']">
        All Matches
      </a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]="['/app/my-matches']" class="active">
        My Games
      </a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]="['/app/tournaments']">
        Tournaments
      </a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]="['/app/leaderboards']">
        Leaderboards
      </a>
    </div>
</div>
<div *ngIf="errorMessage" class="error-match">
  {{ errorMessage }}
</div>
<div class="matches-wrap">
  <div *ngFor="let oneMatch of myMatches">
  <div class="row">
    <hr>
    <div class="col-sm-2">
      <span class="user-match">{{ oneMatch.owner.username }}</span>
      Level {{ oneMatch.owner.level }}
    </div>
    <div class="col-sm-2">
      <img [src]="'../../assets' + oneMatch.owner.pic_path" class="img-circle match-pic" width="45px">
    </div>
    <div class="col-sm-4 vs-cont" *ngIf="oneMatch.match_status != 'completed'">
      - VS -<br> <a [routerLink]="['/app/matches', oneMatch._id]" class="user-level">See Challenge</a><br>
      <span class="match-level">${{ oneMatch.bet }} | {{ oneMatch.console }} | {{ oneMatch.match_status }}</span>
    </div>
    <div class="col-sm-4 vs-cont" *ngIf="oneMatch.match_status == 'completed'">
      {{ oneMatch.score_owner }} - {{ oneMatch.score_opponent }}<br> <a [routerLink]="['/app/matches', oneMatch._id]" class="user-level">See Challenge</a><br>
      <span class="match-level">${{ oneMatch.bet }} | {{ oneMatch.console }} | {{ oneMatch.match_status }}</span>
    </div>
    <div *ngIf="!oneMatch.opponent" class="col-sm-4">
      <span class="user-match"> Open Match </span>
      <a [routerLink]="['/matches', oneMatch._id]" class="btn btn-info">Join</a>
    </div>
    <div *ngIf="oneMatch.opponent" class="col-sm-2">
      <img [src]="'../../assets' + oneMatch.opponent.pic_path" class="img-circle match-pic" width="45px">
    </div>
    <div *ngIf="oneMatch.opponent" class="col-sm-2">
      <span class="user-match">{{ oneMatch.opponent.username }}</span>
      Lvl {{ oneMatch.opponent.level }}
    </div>
  </div>
  </div>
</div>
