<div class="row sub-dash">
    <div class="col-sm-3">
      <a [routerLink]="['/app/matches']">
        All Matches
      </a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]="['/app/my-matches']">
        My Games
      </a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]="['/app/tournaments']" class="active">
        Tournaments
      </a>
    </div>
    <div class="col-sm-3">
      <a [routerLink]="['/app/leaderboards']">
        Leaderboards
      </a>
    </div>
</div>
<h1>
  COMING SOON!!
</h1>
