<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <form *ngIf="!user" id="signup-form">

            <h2> Sign Up </h2>

            <div class="form-group signup">
              <label for="the-firstname-signup"> First Name </label>
              <input type="text" name="firstname" placeholder="Jhon" class="form-control signup" required [(ngModel)]="signupInfo.firstname" id="the-firstname-signup">
            </div>

            <div class="form-group signup">
              <label for="the-lastname-signup"> Last Name </label>
              <input type="text" name="lastname" placeholder="Doe" class="form-control signup" required [(ngModel)]="signupInfo.lastname" id="the-lastname-signup">
            </div>

            <div class="form-group signup">
              <label for="age-input"> Age </label>
              <input  type="number" name="reviewStars" class="form-control" min="21" max="99" placeholder="21" required [(ngModel)]="signupInfo.age" id="the-age-signup">
            </div>

            <div class="form-group signup">
              <label for="the-xboxgamertag-signup"> Xbox Gamertag </label>
              <input type="text" name="username" placeholder="JHONDOE13" class="form-control signup" [(ngModel)]="signupInfo.xboxgamertag" id="the-xbox-gamertag-signup">
            </div>

            <div class="form-group signup">
              <label for="the-psnid-signup"> PSN ID </label>
              <input type="text" name="username" placeholder="JHONDONUTS" class="form-control signup" [(ngModel)]="signupInfo.psnid" id="the-psnid-signup">
            </div>

            <div class="form-group signup">
              <label for="the-username-signup"> Username </label>
              <input type="text" name="username" placeholder="Username" class="form-control signup" minlength=5 required [(ngModel)]="signupInfo.username" id="the-username-signup">
            </div>

            <div class="form-group signup">
              <label for="the-email-signup"> Email </label>
              <input type="email" name="username" placeholder="jhondoe@xyz.com" class="form-control signup" required [(ngModel)]="signupInfo.email" id="the-email-signup">
            </div>

            <div class="form-group signup">
              <label for="the-password-signup"> Password </label>
              <input type="password" name="password" placeholder="Password" class="form-control signup" minlength=5 required [(ngModel)]="signupInfo.password" id="the-password-signup">
            </div>

            <button class="btn btn-primary" (click)="signup()">Signup</button>
       </form>
     </div>
     <div class="col-md-6" id="signup-form">

      <h2> or </h2>
      <hr>

      <a href="#">
      <div class="google">
        <i class="fa fa-google"> | Sign Up with Google</i>
      </div>
      </a>
      <a href="#">
      <div class="face">
        <i class="fa fa-facebook"> | Sign Up with Facebook</i>
      </div>
      </a>
     </div>
   </div>



   </div>
