<div class="row">
    <div class="col-sm-3 active">
      All Matches
    </div>
    <div class="col-sm-3">
      My Games
    </div>
    <div class="col-sm-3">
      Tournaments
    </div>
    <div class="col-sm-3">
      Leaderboards
    </div>
</div>
<div class="matches-wrap">
  <div class="row">
    <hr>
    <div class="col-sm-2">
      <span class="user-match">Username1</span>
      Lvl 18
    </div>
    <div class="col-sm-2">
      <img src="../../assets/img/profile-blank.png" class="img-circle match-pic" width="45px">
    </div>
    <div class="col-sm-4 vs-cont">
      - VS -<br> <a class="user-level">See Challenge</a>
    </div>
    <div class="col-sm-2">
      <img src="../../assets/img/profile-blank.png" class="img-circle match-pic" width="45px">
    </div>
    <div class="col-sm-2">
      <span class="user-match">Username2</span>
      Lvl 15
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-sm-2">
      <span class="user-match">Username1</span>
      Lvl 18
    </div>
    <div class="col-sm-2">
      <img src="../../assets/img/profile-blank.png" class="img-circle match-pic" width="45px">
    </div>
    <div class="col-sm-4 vs-cont">
      - VS -<br> <a class="user-level">See Challenge</a>
    </div>
    <div class="col-sm-2">
      <img src="../../assets/img/profile-blank.png" class="img-circle match-pic" width="45px">
    </div>
    <div class="col-sm-2">
      <span class="user-match">Username2</span>
      Lvl 15
    </div>
  </div>
</div>
