<div class="dashboard-wrapper">
  <div class="container-fluid">
    <div class="col-md-1 dashboard-menu">
      HELLO
    </div>
    <div class="col-md-6 dashboard-games">
      <div class="row">
        <div class="col-sm-3">
          All Matches
        </div>
        <div class="col-sm-3">
          My Games
        </div>
        <div class="col-sm-3">
          Tournaments
        </div>
        <div class="col-sm-3">
          Leaderboards
        </div>
      </div>
    </div>
    <div class="col-md-5 dashboard-chat">
    </div>
  </div>
</div>
