<div class="dashboard-wrapper">
  <!-- <div class="container-fluid"> -->
    <div class="col-md-1 dashboard-menu">
      <a data-toggle="modal" data-target="#myModal">
        <img src="../assets/img/in_game.png" title="Create a Game">
      </a>
      <br>
      <a [routerLink]="['matches']">
        <img src="../assets/img/dashboard.png" title="Dashboard">
      </a>
      <br>
      <a [routerLink]="['billing']">
        <img src="../assets/img/custom.png" title="Billing">
      </a>
      <br>
      <a [routerLink]="['disputes']">
        <img src="../assets/img/disputes.png" title="Disputes">
      </a>
      <br>
      <a [routerLink]="['messages']">
        <img src="../assets/img/contact.png" title="Messages">
      </a>
      <br>
      <a href="https://help.gamingfrog.com/" target="_blank">
        <img src="../assets/img/faqs.png" title="Support">
      </a>
    </div>
    <div class="col-md-6 dashboard-games">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-5 dashboard-chat">
      <iframe src="https://player.twitch.tv/?video=v67169155&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" width="100%" height="50%"></iframe>
      <iframe src="https://player.twitch.tv/?video=v160001317&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="50%" width="100%"></iframe>
    </div>
  <!-- </div> -->
</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#matchConfirmation">Open Modal</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create a Game</h4>
      </div>
      <div class="modal-body">
        <form *ngIf="user" id="match-form">

              <div class="form-group signup">
                <label for="the-halflength-newmatch"> Half Length (min) </label>
                <input type="number" name="halflength" value="5" min="5" max="10" class="form-control signup" required [(ngModel)]="matchInfo.halflength" id="the-halflength-newmatch">
              </div>

              <div class="form-group signup">
                <label for="the-teams-newmatch"> Teams </label>
                <select class="form-control signup" name="teams" value="any" required [(ngModel)]="matchInfo.teams" id="the-teams-newmatch">
                  <option>any</option>
                  <option>club</option>
                  <option>women</option>
                  <option>national</option>
                </select>
              </div>

              <div class="form-group signup">
                <label for="the-teamlevel-newmatch"> Teams Level (stars) </label>
                <select class="form-control signup" name="teamlevel" value="5" required [(ngModel)]="matchInfo.teamlevel" id="the-teamlevel-newmatch">
                  <option>5</option>
                  <option>4</option>
                  <option>3</option>
                </select>
              </div>

              <div class="form-group signup">
                <label for="the-console-newmatch"> Console </label>
                <select class="form-control signup" name="console" value="xbox one" required [(ngModel)]="matchInfo.console" id="the-console-newmatch">
                  <option>xbox one</option>
                  <option>ps4</option>
                </select>
              </div>

              <div class="form-group signup">
                <label for="the-bet-newmatch"> Bet ($) </label>
                <input type="number" name="bet" value="5" min="5" max="100" class="form-control signup" [(ngModel)]="matchInfo.bet" id="the-bet-newmatch">
              </div>

              <!-- <div class="modal-footer"> -->
                <button class="btn btn-primary" (click)="newMatch()">Create</button>
                <button id="closeMatchModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- </div> -->
        </form>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="matchConfirmation" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <img src="../../assets/img/in_game.png" class="center-wrap">
        <h1> Great you have created a match!</h1>
        Now What?<br>
          <ul>
            <li>Your match will show in the "All Matches" section.</li>
            <li>Users can join your match.</li>
            <li>You will receive a notification once someone joins your match.</li>
          </ul>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="refreshPage()">Close</button>
      </div>
    </div>

  </div>
</div>
