<div class="dashboard-wrapper">
  <div class="container-fluid">
    <div class="col-md-1 dashboard-menu">
      <a data-toggle="modal" data-target="#myModal">
        <img src="../assets/img/in_game.png" title="Create a Game">
      </a>
      <br>
      <img src="../assets/img/dashboard.png" title="Dashboard">
      <br>
      <img src="../assets/img/custom.png" title="Billing">
      <br>
      <img src="../assets/img/disputes.png" title="Disputes">
      <br>
      <img src="../assets/img/contact.png" title="Messages">
      <br>
      <a href="https://help.gamingfrog.com/" target="_blank">
        <img src="../assets/img/faqs.png" title="Support">
      </a>
    </div>
    <div class="col-md-6 dashboard-games">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-5 dashboard-chat">
    </div>
  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create a Game</h4>
      </div>
      <div class="modal-body">
        <form *ngIf="!user" id="match-form">

              <div class="form-group signup">
                <label for="the-halflength-newmatch"> Half Length (min) </label>
                <input type="number" name="halflength" value="5" min="5" max="10" class="form-control signup" required [(ngModel)]="matchInfo.halflenght" id="the-halflength-newmatch">
              </div>

              <div class="form-group signup">
                <label for="the-teams-newmatch"> Teams </label>
                <select class="form-control signup" required [(ngModel)]="matchInfo.teams" id="the-teams-newmatch">
                  <option>any</option>
                  <option>club</option>
                  <option>women</option>
                  <option>national</option>
                </select>
              </div>

              <div class="form-group signup">
                <label for="the-teamlevel-newmatch"> Teams Level (stars) </label>
                <select class="form-control signup" required [(ngModel)]="matchInfo.teamlevel" id="the-teamlevel-newmatch">
                  <option>5</option>
                  <option>4</option>
                  <option>3</option>
                </select>
              </div>

              <div class="form-group signup">
                <label for="the-console-newmatch"> Console </label>
                <select class="form-control signup" required [(ngModel)]="matchInfo.console" id="the-console-newmatch">
                  <option>xbox one</option>
                  <option>ps4</option>
                </select>
              </div>

              <div class="form-group signup">
                <label for="the-psnid-signup"> PSN ID </label>
                <input type="text" name="username" placeholder="JHONDONUTS" class="form-control signup" [(ngModel)]="signupInfo.psnid" id="the-psnid-signup">
              </div>

              <!-- <div class="modal-footer"> -->
                <button class="btn btn-primary" (click)="newMatch()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- </div> -->
        </form>
      </div>
    </div>

  </div>
</div>
