<div class="home-back">
<div class="container-fluid">
  <div class="row slider-container">
    <div class="col-xs-12 col-md-10 col-md-offset-2">
      <div class="col-md-6">
        <span class="home-slider"> Win Cash<br> & Prizes<br> Playing Fifa 17 </span>
        <br>
        <a href="/#/sign-up" class="btn btn-default"><strong>Create an account now, it's free!</strong></a>
        <br>
        <iframe src="https://player.twitch.tv/?channel=gamingfrogapp" frameborder="0" allowfullscreen="true" scrolling="no" width="300" height="150" class="twitch-container"></iframe>
        <a href="https://www.twitch.tv/gamingfrogapp?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:445px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from GamingFrogApp on www.twitch.tv</a>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.twitch.tv/gamingfrogapp/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>
      </div>

      <p class="error"> {{ error }} </p>
    </div>
  </div>
</div>
</div>
<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-2">
      <div class="row banner-one">
        <span class="banner-font">1 vs 1 Matches</span><br>
        <span class="sub-banner"> Challenge or invite players to play a direct match.</span>
      </div>
      <div class="row banner-two">
        <span class="banner-font">Tournaments</span><br>
        <span class="sub-banner"> Create or join tournaments to beat them all!</span>
      </div>
      <div class="row banner-three">
        <span class="banner-font">Leaderboard</span><br>
        <span class="sub-banner"> There is only one place at the top will it be yours?</span>
      </div>
      <div class="row banner-four">
        <span class="banner-font">Playstation and Xbox</span><br>
        <span class="sub-banner"> Choose your favorite console.</span>
      </div>
      <div class="row faq-home">
        <div class="col-md-6">
          <h1>What is Gaming Frog?</h1>
          <p>Gaming frog is a platform that connects video gamers, allowing them to play their favorite games for cash and prizes. We are redefining the online video gaming experience, providing video gamers and newcomers alike a safe and legal place to engage in competitive matches.</p>
        </div>
        <div class="col-md-6">
          <h1>Is Gaming Frog secure?</h1>
          <p>All of Gaming Frogs confidential information is safeguarded by SSL (Secure Socket Layer), as represented by the padlock visible on any internet browser’s address tab. We encrypt all our private customer information and your available to our staff only when required.</p>
        </div>
      </div>
      <div class="row center-home">
        <h1>Have more questions? Read or faqs</h1>
      </div>
      <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


  </div>
</div>
